* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fundo {
  z-index: 1;
  text-align: center;
  position: fixed;
  background: #d4c9be;
  height: 100%;
  width: 100%;
  color: white;
  margin: 0;
  text-align: center;
}

.calculadora {
  position: fixed;
  filter: blur(0.5px);
  border: none;
  border-width: 1px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

tr,
td {
  background: rgba(0, 0, 0, 0.185);
  border-radius: 20px;
  padding: 2px;
}

.botoes,
.botoes_actions {
  background: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.botoes:hover,
.botoes_actions:hover {
  background-color: rgb(46, 86, 136);
  color: white;
}

#resultado {
  width: 220px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  font-size: 18pt;
  margin: auto;
  color: black;
  border-radius: 20px 20px 0 0;
  background: white;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.63);
}
table {
  background: #030303;
  border-radius: 0 0 20px 20px;
  padding: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    background: black;
    opacity: 30%;
    color: white;
  }
  100% {
    background: white;
    opacity: 90%;
    color: black;
  }
}

label {
  text-align: center;
  opacity: 70%;
}

.dark {
  background-color: #123458;
  color: white;
}

.dark .calculadora {
  background-color: #123458;
}

.change:hover {
  cursor: pointer;
}

ul,
#listaHistorico {
  padding: 10px;
  border-radius: 20px;
  background: whitesmoke;
  color: black;
  list-style: none;
  width: 200px;
  text-align: center;
  margin: 50px auto;
}

#overlayHistorico {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #123458;
  color: #111;
  z-index: 9999;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

#boxEnd {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

#fecharHistorico {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 20px;
  color: white;
}

#toggleHistorico {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #123458;
  color: white;
}
.bnt {
  margin: 30px auto;
}

#toggleHistorico:hover {
  cursor: pointer;
}
